<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <style>
        :root {
            color-scheme: light dark;
        }

        body {
            font-family: sans-serif;
            background-color: light-dark(#eee, #111);
        }

        header {
            display: flex;
            flex-flow: row wrap;
            align-items: baseline;
            justify-content: space-between;
            gap: 1em;
        }

        h1, h5 {
            margin-bottom: 0;
        }

        a {
            color: inherit;
            text-decoration: underline;
            text-decoration-style: dotted;
        }

        .help em:after {
            content: ' 😇';
            font-style: normal;
        }

        #players {
            padding-left: 0.75em;
        }

        #players li {
            list-style-type: none;
            display: flex;
            align-items: center;
            gap: 0.75em;
        }

        #players .icon {
            height: 1.5em;
            border-radius: 0.75em;
        }

        main {
            max-width: 100ex;
            margin: auto;
        }

        main [data-type]:hover {
            background-color: light-dark(rgba(200,200,150,0.2), rgba(200,200,150,0.15));
        }

        main [data-type]:focus, main [data-type]:focus-visible {
            background-color: light-dark(rgba(200,200,150,0.9), rgba(200,200,150,0.2));
        }

        main [data-type]:focus-visible {
            -moz-appearance: none;
            outline: none;
        }

        main figure {
            display: block;
            box-sizing: border-box;
            background-color: light-dark(#ddd, #000);
            padding: 1ex;
            width: 100%;
            max-width: 70ex;
            margin: 1em auto;
        }

        main figure img {
            width: 100%;
        }

        main figure figcaption:before {
            content: 'Prompt: ';
            font-style: normal;
        }

        main figure figcaption {
            margin-top: 1ex;
            text-align: center;
            font-size: smaller;
            font-style: italic;
        }

        blockquote {
            border-left: 0.5ex solid #333;
            padding-left: 1ex;
            margin-left: 1ex;
            display: flex;
            gap: 1ex;
        }

        blockquote[data-type=do]:before {
            content: '🏃';
        }

        blockquote[data-type=say]:before {
            content: '💬';
        }
    </style>
</head>
<body>
<header>
    <hgroup>
        <h1><a target="_blank" title="Open original adventure" href="{{ link }}">{{ title }}</a></h1>
        <h5>An adventure by {{ authors }}</h5>
    </hgroup>
    <small class="help">
        <em>Generated by <a target="_blank" title="Learn more about Elara!" href="https://github.com/ndm13/elara">Elara</a></em><br>
        <strong>Hint:</strong> You can use the <kbd>Tab</kbd> key to cycle through actions!
    </small>
</header>
<aside class="players">
    <h3>Players</h3>
    <ul id="players">{% for player in allPlayers %}
        <li data-user="{{ player.user.id }}" data-name="{{ player.user.profile.title }}" data-character="{{ player.characterName }}">
            <img src="{{ player.user.profile.thumbImageUrl }}" alt="Profile Icon" class="icon">
            <span><a target="_blank" title="Open {{ player.user.profile.title }}'s profile" href="https://play.aidungeon.com/profile/{{ player.user.profile.title }}">{{ player.user.profile.title }}</a>{% if player.characterName != null %} as <strong>{{ player.characterName }}</strong>{% endif %}</span>
       </li>
    {% endfor %}</ul>
</aside>
<main aria-label="story">
    {% for action in read.actions %}{% if action.type == 'start' or action.type == 'continue' or action.type == 'story' %}
    <span tabindex="0" data-created="{{ action.createdAt }}" data-updated="{{ action.updatedAt }}" data-type="{{ action.type }}" data-action="{{ action.id }}" data-user="{{ action.userId }}" title="{{ (action.userId | player(allPlayers)).user.profile.title }}{% if (action.userId | player(allPlayers)).characterName %} ({{ (action.userId | player(allPlayers)).characterName }}){% endif %}: {{ action.type }} ({{ action.id }}){% if action.createdAt != action.updatedAt %} (edited){% endif %}">{{ action.text | p }}</span>
    {% elseif action.type == 'do' or action.type == 'say' %}
    <blockquote tabindex="0" data-created="{{ action.createdAt }}" data-updated="{{ action.updatedAt }}" data-type="{{ action.type }}" data-user="{{ action.userId }}" title="{{ (action.userId | player(allPlayers)).user.profile.title }}{% if (action.userId | player(allPlayers)).characterName %} ({{ (action.userId | player(allPlayers)).characterName }}){% endif %}: {{ action.type }} ({{ action.id }}){% if action.createdAt != action.updatedAt %} (edited){% endif %}">{{ action.text | blockquote }}</blockquote>
    {% elseif action.type == 'see' %}
    <figure tabindex="0" data-created="{{ action.createdAt }}" data-updated="{{ action.updatedAt }}" data-type="see" data-user="{{ action.userId }}" title="{{ (action.userId | player(allPlayers)).user.profile.title }}{% if (action.userId | player(allPlayers)).characterName %} ({{ (action.userId | player(allPlayers)).characterName }}){% endif %}: {{ action.type }} ({{ action.id }}){% if action.createdAt != action.updatedAt %} (edited){% endif %}">
        <img src="{{ action.imageUrl }}" alt="{{ action.imageText }}">
        <figcaption>{{ action.imageText | p }}</figcaption>
    </figure>
    {% endif %}{% endfor %}
</main>
</body>
</html>